root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/audionara ./cmd/server/main.go"
  bin = "./tmp/audionara"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "testdata"]
  include_ext = ["go", "toml", "env"]
  exclude_regex = ["_test.go"]
  kill_delay = "0.5s"
  rerun_delay = 500

[log]
  time = false

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"

[misc]
  clean_on_exit = true
